Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

data1 = [4, 8, 15, 16, 23, 42]
series1 = pd.Series(data1)

print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
data2 = [23,23,23,23,23,23,23,23,23,23]
series2 = pd.Series(data2)

print(series2)

0    23
1    23
2    23
3    23
4    23
5    23
6    23
7    23
8    23
9    23
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data. Then, print the DataFrame. 
Name 
- Alice 
- Bob 
- Claire 

Age 
- 25 
- 30 
- 27 

Gender 
- Female 
- Male 
- Female

In [6]:
data3 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df3 = pd.DataFrame(data3)

print(df3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example. 
A4. In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table or spreadsheet-like data structure where data is organized into rows and columns. Each column in a DataFrame is a pandas Series. In other words, a DataFrame is a collection of Series that share the same index.

On the other hand, a Series in pandas is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It is essentially a single column of data with an associated index.

In [8]:
#Example

series4 = pd.Series([10, 20, 30, 40], name='Numbers')

data4 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df4 = pd.DataFrame(data4)

print("Series:")
print(series4)
print("\nDataFrame:")
print(df4)

Series:
0    10
1    20
2    30
3    40
Name: Numbers, dtype: int64

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can  you give an example of when you might use one of these functions? 
A5. Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

1. head() and tail(): Used to view the first or last few rows of the DataFrame.
2. info(): Provides a concise summary of the DataFrame including data types and missing values.
3. describe(): Generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, etc.
4. set_index(): Sets the DataFrame index using existing columns.
5. reset_index(): Resets the DataFrame index, converting the index labels to a column.
6. loc[] and iloc[]: Used for label-based and integer-based indexing respectively to access rows and columns by label or position.
7. drop(): Allows dropping rows or columns from the DataFrame.
8. fillna(): Fills missing values in the DataFrame with specified values.
9. groupby(): Allows grouping the DataFrame by one or more columns and performing operations on the grouped data.
10. merge() and concat(): Used for combining DataFrames either by merging on columns or concatenating along an axis.

In [9]:
import pandas as pd
import numpy as np

# Creating a sample DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 10, 20, 30, np.nan],
    'C': ['X', 'Y', np.nan, 'Z', 'W']
}
df = pd.DataFrame(data)

# Fill missing values in column A with the mean of column A
mean_A = df['A'].mean()
df['A'] = df['A'].fillna(mean_A)

# Fill missing values in column B with 0
df['B'] = df['B'].fillna(0)

# Fill missing values in column C with a specified value, say 'Unknown'
df['C'] = df['C'].fillna('Unknown')

print(df)

     A     B        C
0  1.0   0.0        X
1  2.0  10.0        Y
2  3.0  20.0  Unknown
3  4.0  30.0        Z
4  5.0   0.0        W

Q6. Which of the following is mutable in nature Series, DataFrame, Panel? 
A6. Among the options provided, both Series and DataFrame are mutable in nature, while Panel is not.

- Series: A pandas Series is mutable, meaning you can modify the values after creation. You can change, add, or remove elements from a Series.

- DataFrame: Similarly, a pandas DataFrame is mutable. You can modify its contents, add or remove columns, and perform various operations to manipulate the data within the DataFrame.

- Panel: However, Panel is not mutable. Panel has been deprecated since version 0.25.0 (July 2019) and is no longer recommended for general use. It was a 3-dimensional data structure, but its functionality has been mostly replaced by MultiIndexing within DataFrames.

In summary, Series and DataFrame are mutable, but Panel is not.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
# Creating multiple Series for product sales data
products = pd.Series(['Product A', 'Product B', 'Product C'])
sales_2021 = pd.Series([1000, 1500, 1200])
sales_2022 = pd.Series([1200, 1600, 1300])
sales_2023 = pd.Series([1300, 1700, 1400])

# Creating a DataFrame using multiple Series
data7 = {
    'Product': products,
    'Sales 2021': sales_2021,
    'Sales 2022': sales_2022,
    'Sales 2023': sales_2023
}
sales_df = pd.DataFrame(data7)

print(sales_df)